<table>
  <thead>
    <tr>
      <th>Created_at</th>
      <th>Title</th>
      <th>Category</th>
      <th>suggestive</th>
      <th>Creator</th>
      <th>Image</th>
      <th>View_model</th>
      <th>Time_public</th>
      <th>manipulation</th>
    </tr>
  </thead>
</table>
