.total_interface
{
  margin-left: 70px;
  margin-bottom: 10px;
}
.text_0{
  font-size: 35px;
  margin-bottom: 10px;
  margin-left: 230px;
}
.text_1{
  margin-left: 400px;
  color: red;
  margin-bottom: 10px;
}
.text_2{
  margin-left: 100px;
  color: red;
  margin-bottom: 10px;
}
.field{
  margin-left: 250px;
}
.form_group1{
  input{
  border: 1px solid #bbb;
  width: 60%;
  margin-bottom: 15px;
  margin-bottom: 10px;
  }
}
.form-group{
  margin-left: 250px;
}
.preview_image
{
  margin-left: 70px;
  height: 130px;
  width: 15%;
  border-style: double;
  margin-bottom: 10px;
}
.text_02{
  height: 30px;
  width: 80px;
  border-style: solid;
  background-color: #337ab7;
  color: white;
  text-align: center;
}
label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: #244d71;
    color: white;
    text-align: center;
    margin-right: 50px;
    border: 2px solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-size: 18px;
}
.edit_lable{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group-title{
  margin-left: 250px;
}
.text_form{
    width: 58%;
  }
select{
    height : 35px;
}
table{
  border-style:solid;
}
td{
  width: 150px;
  margin-bottom: 10px;
}
th{
  width: 150px;
  text-align: center;
}
.img_form{
  margin-left: 95px;
}
.kamanari{
  margin-left: 85px;
}
.lable_02{
  font-size: 25px;
  border-style: double;
  width: 20%;
  margin-left: 90px;
  margin-top: 10px;
}
input {
  height: auto !important;
  display: inline;
}
.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
    width: 100%;
}
.form_index{
  display:inline-flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 85px;
}
.td_index{
  margin-left: 50px;
}
.new-blog{
  border: 2px solid #cc0000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 10%;
  font-size: 20px;
  margin-left: 85px;
  margin-bottom: 10px;
}

.view-model{
  border: 2px solid #1f00cc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 60%;
  font-size: 10px;
  text-align: center;
  margin-left: 10px;
}

.Edit-Blog{
  border: 2px solid #1f00cc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 60%;
  font-size: 10px;
  text-align: center;
  margin-left: 15px;
  margin-top: 15px;
}
.submit_form{
  width: 100%;
  font-size: 22px;
}
.submit_priview{
  width: 100%;
  font-size: 22px;
}
@import "bootstrap-sprockets";
@import "bootstrap";


body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.menukhoiho-wrap{
  background:url(http://3.bp.blogspot.com/-QYwt5XFZsRI/U5f1_havIWI/AAAAAAAAPzw/xjNpY5CkSVs/s1600/khoibg3.png)
  repeat-x top;
  height:56px;width:100%;}
.menukhoiho{
  font:normal 12px Arial;
  line-height:normal;
  width:985px;
  text-transform:none;
  color:#f1f1f1;
  text-decoration:none;
  margin:0 auto;
  padding:0 auto}
.menukhoiho ul{margin:0;padding:0}
.menukhoiho li{list-style:none;
  color:#b69786;
  float:left;
  display:inline;
  position:relative;
  margin:0;padding:0}
.menukhoiho li a{background:url(http://4.bp.blogspot.com/-AdMbizvfBHM/U5gynClkq3I/AAAAAAAAP0A/pHRxAQ3h3dk/s1600/11-06-2014+5-40-34+CH.png) repeat-x top;display:block;text-decoration:none;font-weight:700;color:#ccc;text-shadow:1px 1px 2px #111;outline:none;margin:10px 4px 8px;padding:8px 16px;border:1px solid #111}
.menukhoiho li a:hover{background:#333;-moz-box-shadow: inset 2px 2px 2px #151515;-webkit-box-shadow: inset 2px 2px 2px #151515;box-shadow: inset 2px 2px 2px #151515;}
.menukhoiho li a:hover,.menukhoiho ul li a:hover{color:#eee}

